.container {
  width: 30%;
  border: 3px solid rgba(52, 158, 52, 0.9);
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  background-color: #fff;
}

h2 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: black;
  
  background: linear-gradient(to bottom, #d9d9d9, #bfbfbf); /* giống kiểu input */
  border-radius: 10px;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
  padding: 10px 0;
  width: 80%;
  margin: 20px auto; /* căn giữa và tạo khoảng cách trên dưới */
}


/* Label bên trái phía trên input */
.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-left: 10%;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Input nằm giữa */
input[type="text"],
input[type="password"],
input[type="tel"] {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
  margin: 0 auto;
  display: block;
  width: 80%;
}

input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 10px #969696, -13px -13px 100px #ffffff;
}

/* Checkbox + chữ nằm bên phải container */
.checkbox-right {
  text-align: right;
  margin-right: 10%;
  margin-top: 10px;
}

/* Nút nằm giữa */
.btn-center {
  text-align: center;
  margin-top: 20px;
}

/* Nút */
.login {
  padding: 5px 25px;
  color: #000;
  font-size: 13px;
  background-color: #18dcff;
  border-radius: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.7s ease;
  margin: 10px;
  border: 2px solid #18dcff;
  cursor: pointer;
}

.login:hover {
  background-color: transparent;
  color: #fff;
}
