.container{
    width: 30%;
    border: 3px solid rgba(125, 230,63,0.5);
    box-shadow: 0 0 10 rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}
label{
    display: block;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-top: 5px;
}
input{
    display: block ;
    box-shadow: 1 1 5 rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 5px;
    width: 75%;
}
h3{
    margin-left: 20px;
    margin-top: 5px;
}
button{
    display: block;
    margin-top: 10px;
    margin-left: 20px;
}
select{
    display: inline-block;
    width: 75%;
    margin-top: 10px;
    margin-left: 20px;
}