body { 
  font-family: Arial; 
  background: #fafafa; 
}

a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #ccc;
  transition: 0.3s;
}

/* Khi rê chuột qua */
a:hover {
  background: #007bff;
  color: #fff;
}

/* Khi click chọn thì đổi màu */
a.active {
  background: #0056b3;
  color: #fff;
}
