body {
  font-family: Verdana, sans-serif;
  background-color: #f0fff4;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.slideshow-container {
  width: 80%; /* khung nhỏ hơn */
  height: 350px;
  margin: 20px auto;
  position: relative;
  border: 4px solid #4caf50;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.mySlides {
  width: 90%; /* ảnh nhỏ hơn khung */
  height: 90%;
  object-fit: cover;
  display: none;
  margin: auto;
  border-radius: 8px;
}
