.container{
    border: 2px solid grey;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.banner {
  background-color: #007BFF;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}
.menu {
  width: 25%;
  background-color: grey;
  padding: 15px;
  border: 2px solid #000000;
}
.thongtin {
  width: 70%;
  padding: 15px;
  border: 1px solid #999;
  background-color: #fff;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
