body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.container{
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.from-group{
    margin: 15px;
}
.from-group input{
    width: 110%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}
.button-container{
    width: 95%;
    height: 25px;
    background-color: blue;

}
div{
    margin-bottom: 10px;
}